

.header {
  background: url('../images/surf.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.Skip-image {
  background: url('../images/skip.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
}

.anastasia-image {
  background: url('../images/Anastasia.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.megan-image {
  background: url('../images/megan.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.jake-image {
  background: url('../images/jake.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.Kyuss-image {
  background: url('../images/kyuss.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.jjflorence {
  background: url("../images/john.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}