@(message: String) @Main("John") {
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="jjflorence"></div>
    </div>

    <div class="col-md-8">
      <h2>Anastasia Ashley</h2>
      <p>Not many people start their careers right after preschool, but professional surfer and Sexiest Vegetarian
        Alive nominee Anastasia Ashley certainly did. Riding her first surfboard at the age of 5 and engaging in
        competitions since the age of 7, Ashley has yet to turn her back on any of the world’s oceans and has won a
        plethora of awards and distinctions in the process, including the Association of Professional Surfer’s Triple
        Crown Rookie of the Year, the National Scholastic Surfing Association’s women’s championship and the Pro Surf
        Tour of America’s women’s tour championship.</p>
      <p>Anastasia Ashley was born on February 10, 1987, in Los Angeles, California. After moving to Hawaii at the
        age of 5, Ashley was quickly introduced to what was to become her life’s calling: surfing. Despite being one of
        -- it not the only -- girl riding waves at the time, Ashley consistently proved that when it came to surfing,
        talent did not have a gender. A fact quickly reinforced by Anastasia becoming one of the most visible faces in
        the sport, as well as one of its most coveted athletes, landing sponsorships with Oakley, Infinity Surfboards,
        and PowerBar, and becoming one of PETA’s most prominent spokespeople.</p>
    </div>

  </div>
</div>

}
