@(message: String)

@Main("Page1") {
   <div class="container">
     <div class="row">
       <div class="col-md-4">
        <div class="well">
          <div class="Skip-image"></div>
        </div>
       </div>
       <div class="col-md-8">
        <div class="well">
          <h1>Skip Frye</h1>
<p>Skip attended Mission Bay High School and began his professional surfing career in 1958. His first board was a balsa board 
shaped by legend Mike Diffenderfer. Skip rode professionally for G&S surfboards and eventually created his own model for them in 
1967. Skip captured national titles and represented the United States team internationally in 1966. Frye has appeared on many 
magazine covers including Sports Illustrated Swimsuit Issue (1969, with model Jamee Becker), The Surfer's Journal, Surfing, and 
Surfer Magazine.</p>
<p>Skip is known for his gliding, fluid style as well as some of the most in-demand surfboards in the world. He is perhaps, best 
recognized by his iconic logo, a set of wings commonly referred to as "Frye Wings." Though once he was in a rough patch in the 
70s and couldn't even afford to buy laminates so he started signing his wings in pencil. This is referred to as his "ghetto 
days", when he shaped surfboards behind Select Surf Shop in Pacific Beach. Iconic images of him surfing with his dog, 
silhouetted against a setting sun, and paddling alone into "The Ranch" have appeared in books and magazines and have been 
printed on clothing and surfboards.[1] Skip is also known for his innovation with foiled surfboard fins. After a surfing trip to 
Australia in 1969, he developed his trademark board shapes: the Egg, Fish, and specialized longboard shapes. He has developed a 
moderate temperature surf wax ("Man Wax"), ideal for his native San Diego waters.</p>
        </div>
       </div>
     
     </div>
   </div>
}
